<footer>
    <div class="container">
        <div class="row footer-top">
            <img src="assets/footer-circle.webp" class="footer-circle img-fluid" alt="footer-circle" loading="lazy" />
            <div class="col-lg-12 d-flex justify-content-between pt-5">
                <div class="footer-links">
                    <label>Explore</label>
                    <ul>
                        <li>
                            <a [routerLink]="['/']">Home</a>
                        </li>
                        <li>
                <a [routerLink]="'/#services-list'">Services</a>
              </li>
              <li>
                <a [routerLink]="['/careers']">Careers</a>
              </li>
              <li>
                <a [routerLink]="'/#about-us'">About Us</a>
              </li>
              <li>
                <a [routerLink]="['/contact-us']">Contact Us</a>
              </li>
              <li>
                <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
              </li>
                    </ul>
                </div>
                <!--footer-links-->
                <div class="footer-links">
                    <label>Services</label>
                    <ul>
                        <li>
                            <a [routerLink]="'/services/modern-application-development'">Modern Application
                                Development</a>
                        </li>
                        <li>
                            <a [routerLink]="'/services/cloud-infrastructure'">Cloud Infrastructure</a>
                        </li>
                        <li>
                            <a [routerLink]="'/services/cybersecurity-as-a-service'">Cyber Security</a>
                        </li>
                        <li>
                            <a [routerLink]="'/services/business-process-outsourcing'">Business Process Outsourcing</a>
                        </li>
                        <li>
                            <a [routerLink]="'/services/devops-as-a-service'">DevOps</a>
                        </li>
                    </ul>
                </div>
                <!--footer-links-->
                <div class="footer-links">
                    <label>Contact Us</label>
                    <ul>
                        <li class="tw-flex">
                            <div class="footer-icon align-self-center">
                                <img src='assets/footer/phone-light.svg' class="img-fluid light-sec" alt="phone"
                                    loading="lazy" />
                            </div>
                            <a href="javascript:void(0)" class="align-self-center">+1 262 726 1643</a>
                        </li>
                        <li class="tw-flex">
                            <div class="footer-icon align-self-center">
                                <img src='assets/footer/phone-light.svg' class="img-fluid light-sec" alt="phone"
                                    loading="lazy" />
                            </div>
                            <a href="javascript:void(0)" class="align-self-center">+44 203 693 3802</a>
                        </li>
                        <li class="tw-flex">
                            <div class="footer-icon align-self-center">
                                <img src='assets/footer/phone-light.svg' class="img-fluid light-sec" alt="phone"
                                    loading="lazy" />
                            </div>
                            <a href="javascript:void(0)" class="align-self-center">+92 345 8141111</a>
                        </li>
    
    
                        <li class="tw-flex align-item-baseline">
                            <div class="footer-icon">
                                <img src='assets/footer/map-light.svg' class="img-fluid light-sec" alt="map"
                                    loading="lazy" style="margin-right: 1rem;" />
                            </div>
                            <a href="javascript:void(0)">Rehman Arcade, Office #01 1st Floor,
                                Khiyaban e Jinnah Road, Airline Society, Lahore, 54782</a>
                        </li>
                    </ul>
                </div>
                <!--footer-links-->
            </div>
        </div>
        <div class="row copyright-social">

            <img src='assets/footer-logo-light.svg' alt="footer-logo" class="img-fluid footer-logo light-sec"
                loading="lazy" />
            <div class="lets-go col-lg-12 d-flex p-0">
                <a href="#" class="align-items-center tw-flex"><span class="tw-font-medium">Let’s Start</span><img
                        src='assets/footer/arrow-light.svg' class="img-fluid light-sec" alt="arrow"
                        loading="lazy" /></a>
                <div class="border-img align-self-center"></div>
            </div>
            <div class="col-lg-12 d-flex justify-content-between p-0">
                <div class="align-self-center">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/tylextech/" target="_blank"><img
                                    src='assets/social/fb.svg' class="img-fluid" alt="facebook" loading="lazy" /></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/tylextech/" target="_blank"><img
                                    src='assets/social/in.svg' class="img-fluid" alt="Linkedin" loading="lazy" /></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/tylextech/" target="_blank"><img src='assets/social/tw.svg'
                                    class="img-fluid" alt="twitter" loading="lazy" /></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/tylextech/" target="_blank"><img
                                    src='assets/social/insta.svg' class="img-fluid" alt="instagram"
                                    loading="lazy" /></a>
                        </li>
                    </ul>
                </div>
                <div class="align-self-center">
                    <p>© 2023 All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!--container-fluid-->
</footer>