<div class="container custom-container tw-pt-32">
    <p  [@fadeInOut] class="custom-paragraph">Current value: {{ value }}</p>
    <input type="text" class="custom-input" [(ngModel)]="inputValue" (keydown.enter)="onEnterKeyPressed()">
    <button class="custom-button" (click)="setValue()">Set Value</button>
    <h3>Single selection</h3>
<mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" (change)="saveSelectedColor($event)">
  <mat-button-toggle value="red">Red</mat-button-toggle>
  <mat-button-toggle value="green">Green</mat-button-toggle>
  <mat-button-toggle value="blue">Blue</mat-button-toggle>
</mat-button-toggle-group>

<h3>Multiple selection</h3>
<mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
  <mat-button-toggle value="flour">Flour</mat-button-toggle>
  <mat-button-toggle value="eggs">Eggs</mat-button-toggle>
  <mat-button-toggle value="sugar">Sugar</mat-button-toggle>
</mat-button-toggle-group>
<span class="mdc-evolution-chip-set" role="grid">
    <span class="mdc-evolution-chip-set__chips" role="presentation">
      <span class="mdc-evolution-chip" role="row" id="c0">
        <span class="mdc-evolution-chip__cell mdc-evolution-chip__cell--primary" role="gridcell">
          <button class="mdc-evolution-chip__action mdc-evolution-chip__action--primary" type="button" tabindex="0">
            <span class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"></span>
            <span class="mdc-evolution-chip__text-label">Chip one</span>
          </button>
        </span>
      </span>
      <span class="mdc-evolution-chip" role="row" id="c1">
        <span class="mdc-evolution-chip__cell mdc-evolution-chip__cell--primary" role="gridcell">
          <button class="mdc-evolution-chip__action mdc-evolution-chip__action--primary" type="button" tabindex="-1">
            <span class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"></span>
            <span class="mdc-evolution-chip__text-label">Chip two</span>
          </button>
        </span>
      </span>
    </span>
</span>
<div class="mdc-menu mdc-menu-surface" id="demo-menu">
    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
      <li>
        <ul class="mdc-menu__selection-group">
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic mdc-menu__selection-group-icon">
              ...
            </span>
            <span class="mdc-list-item__text">Single</span>
          </li>
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic mdc-menu__selection-group-icon">
             ...
            </span>
            <span class="mdc-list-item__text">1.15</span>
          </li>
        </ul>
      </li>
      <li class="mdc-list-divider" role="separator"></li>
      <li class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__text">Add space before paragraph</span>
      </li>
      
    </ul>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    <button mat-menu-item> item 3</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="animals">Animal index</button>
<mat-menu #animals="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
  <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
</mat-menu>

<mat-menu #vertebrates="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
  <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
  <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
  <button mat-menu-item>Birds</button>
  <button mat-menu-item>Mammals</button>
</mat-menu>

<mat-menu #invertebrates="matMenu">
  <button mat-menu-item>Insects</button>
  <button mat-menu-item>Molluscs</button>
  <button mat-menu-item>Crustaceans</button>
  <button mat-menu-item>Corals</button>
  <button mat-menu-item>Arachnids</button>
  <button mat-menu-item>Velvet worms</button>
  <button mat-menu-item>Horseshoe crabs</button>
</mat-menu>

<mat-menu #fish="matMenu">
  <button mat-menu-item>Baikal oilfish</button>
  <button mat-menu-item>Bala shark</button>
  <button mat-menu-item>Ballan wrasse</button>
  <button mat-menu-item>Bamboo shark</button>
  <button mat-menu-item>Banded killifish</button>
</mat-menu>

<mat-menu #amphibians="matMenu">
  <button mat-menu-item>Sonoran desert toad</button>
  <button mat-menu-item>Western toad</button>
  <button mat-menu-item>Arroyo toad</button>
  <button mat-menu-item>Yosemite toad</button>
</mat-menu>

<mat-menu #reptiles="matMenu">
  <button mat-menu-item>Banded Day Gecko</button>
  <button mat-menu-item>Banded Gila Monster</button>
  <button mat-menu-item>Black Tree Monitor</button>
  <button mat-menu-item>Blue Spiny Lizard</button>
  <button mat-menu-item disabled>Velociraptor</button>
</mat-menu>
<form >
  <mat-form-field >
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
<div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>

<div matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</div>

<div class="demo-section">
Button with a badge on the left
<button mat-raised-button color="primary"
    matBadge="8" matBadgePosition="before" matBadgeColor="accent">
  Action
</button>
</div>

<div class="demo-section">
  Button toggles badge visibility
  <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
      Hide
  </button>
</div>

<div class="demo-section">
Icon with a badge
<mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
  <!-- Include text description of the icon's meaning for screen-readers -->
  <span class="cdk-visually-hidden">
    Example with a home icon with overlaid badge showing the number 15
  </span>
</div>
<mat-card>
  <!-- Card header -->
  <mat-card-header>
    <mat-card-title>Card Title</mat-card-title>
    <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    
  </mat-card-header>

  <!-- Card content -->
  <mat-card-content>
    <img mat-card-image src="assets/home/aboutusLight.webp" alt="Card Image">
    <p>Primary card content goes here...</p>
  </mat-card-content>

  <!-- Card actions -->
  <mat-card-actions>
    <button mat-button>Button 1</button>
    <button mat-button>Button 2</button>
  </mat-card-actions>

  <!-- Card footer -->
  <mat-card-footer>
    <p>Footer content goes here...</p>
  </mat-card-footer>
</mat-card>
<mat-chip-listbox aria-label="Fish selection">
  <mat-chip-option>One fish</mat-chip-option>
  <mat-chip-option>Two fish</mat-chip-option>
  <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
  <mat-chip-option color="warn">Warn fish</mat-chip-option>
</mat-chip-listbox>
<mat-form-field class="example-chip-list">
  <mat-label>Favorite Fruits</mat-label>
  <mat-chip-grid #chipGrid aria-label="Enter fruits">
    @for (fruit of fruits; track fruit) {
      <mat-chip-row
        (removed)="remove(fruit)"
        [editable]="true"
        (edited)="edit(fruit, $event)"
        [aria-description]="'press enter to edit ' + fruit.name">
        {{fruit.name}}
        <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
    <input placeholder="New fruit..."
           [matChipInputFor]="chipGrid"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)"/>
  </mat-chip-grid>
</mat-form-field>
<mat-chip-set aria-label="Dog selection">
  <mat-chip>
    <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
    Dog one
  </mat-chip>
  <mat-chip color="primary">
    <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
    Dog two
  </mat-chip>
  <mat-chip color="accent">
    <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
    Dog three
  </mat-chip>
</mat-chip-set>
<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>

<!-- <mat-grid-list cols="2" >
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
 -->

 <!-- <mat-action-list>
  <button mat-list-item >Save</button>
  <button mat-list-item>Undo</button>
</mat-action-list> -->


<button (click)="generateItems()">Generate Items</button>

<div *ngFor="let item of items.slice(currentPage * pageSize, (currentPage + 1) * pageSize)">
  {{ item }}
</div>

<mat-paginator [length]="items.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">
</mat-paginator>

<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<mat-spinner></mat-spinner>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  @for (movie of movies; track movie) {
    <div class="example-box" cdkDrag>{{movie}}</div>
  }
</div>



<!-- <div class="carousel-container">
  <igx-carousel #carousel>
      <igx-slide *ngFor="let slide of slides;">
          <div class="image-container">
              <img [src]="slide.src">
          </div>
      </igx-slide>
  </igx-carousel>
</div> -->















<div class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
      <img
        *ngIf="i === currentSlide"
        [src]="slide.src"
        class="slide"
        @carouselAnimation
      />
    </ng-container>

<!-- controls -->
<button class="control prev" (click)="onPreviousClick()">
  <span class="arrow left"></span>
</button>
<button class="control next" (click)="onNextClick()">
  <span class="arrow right"></span>
</button>
</div>

<!-- 
<div class="flex flex-col h-screen">

  <div class="relative overflow-auto grow border-t-2">
      <mat-sidenav-container  class="h-full c-side-container">
          <mat-sidenav autoFocus="false" #sidenav [mode]="sidenavMode" opened class="c-side-nav px-[12px] py-[8px]">
                <ng-container *ngFor="let sidenav of sidenavs; let i = index">

                  <ng-container *ngTemplateOutlet="sidenavItem; context: {item: sidenav, index: i}"></ng-container>
                  
                  <div *ngIf="sidenav.childrens && sidenav.expandable">
                    <ng-container *ngFor="let child of sidenav.childrens">
                      <ng-container *ngTemplateOutlet="sidenavItem; context: {item: child, isChildren: true}"></ng-container>
                    </ng-container>
                  </div>
                  
                  <ng-template #sidenavItem let-item="item" let-index="index" let-isChildren="isChildren">
                    <a class="flex items-center py-2 px-3"  routerLinkActive="sidenav-active" (click)="item.click ? item.click(item, $event) : ''" [ngClass]="{'sidenav-item cursor-pointer': !item.childrens, 'pl-[32px]': isChildren}">
                      <div class="bg-black w-[24px]  mr-2 cursor-pointer" *ngIf="item.childrens" [ngClass]="item.expandable ? 'icon-chevron-down' : 'icon-chevron-right'" (click)="item.childrens ? toggleSideNavList(index) : ''"></div>
                      <div [ngClass]="item.icon ? item.icon + ' bg-black w-[24px] mr-2 icon' : ''"></div>
                      <span [ngClass]="item.childrens ? 'font-bold text-sm' : ''">{{item.name}}</span>
                    </a>
                  </ng-template>
                  
                  <div class="mb-2"></div>
                </ng-container>
                
          </mat-sidenav>
          <mat-sidenav-content role="main" class="bg-white flex flex-col c-side-content">
              <div class="px-[32px] pt-[8px] flex items-center gap-2">
                  <div class="sm:hidden -ml-[12px] cursor-pointer" (click)="sidenav.toggle()">
                    <mat-icon class="align-middle">drag_handle</mat-icon>
                  </div>
              </div>
              <div class="grow">
              </div>
          </mat-sidenav-content>
      </mat-sidenav-container>
  </div>
</div> -->

<div>
  <div class="">
    <mat-sidenav-container class="">
      <mat-sidenav autoFocus="false" #sidenav [mode]="sidenavMode" opened class=" px-[12px] py-[8px]">
        <ng-container *ngFor="let sidenav of sidenavs; let i = index">
          <ng-container *ngTemplateOutlet="sidenavItem; context: {item: sidenav, index: i}"></ng-container>
          <div *ngIf="sidenav.childrens && sidenav.expandable">
            <ng-container *ngFor="let child of sidenav.childrens">
              <ng-container *ngTemplateOutlet="sidenavItem; context: {item: child, isChildren: true}"></ng-container>
            </ng-container>
          </div>
          <ng-template #sidenavItem let-item="item" let-index="index" let-isChildren="isChildren">
            <a class=""   (click)="item.click ? item.click(item, $event) : ''" >
              <div class="" *ngIf="item.childrens"  (click)="item.childrens ? toggleSideNavList(index) : ''"></div>
              <div ></div>
              <span >{{item.name}}</span>
            </a>
          </ng-template>
          <div class="mb-2"></div>
        </ng-container>
      </mat-sidenav>
      <mat-sidenav-content role="main" class="bg-white flex flex-col">
        <div class="px-[32px] pt-[8px] flex items-center gap-2">
          <div class="sm:hidden -ml-[12px] cursor-pointer" (click)="sidenav.toggle()">
            <mat-icon class="align-middle">drag_handle</mat-icon>
          </div>
        </div>
        <div class="grow">
          <!-- Your content goes here -->
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>




























</div>

<!-- <header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Close">close</button>
      <span class="mdc-top-app-bar__title">Contextual title</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Share">share</button>
      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Delete">delete</button>
      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Open menu">more_vert</button>
    </section>
  </div>
</header> -->
<!-- <mdc-card> -->
  <!-- <mdc-card-primary-action> -->
    <!-- <mdc-card-media square imageUrl="your-image-url.jpg"></mdc-card-media> -->
    <!-- <mdc-card-media-content>
      <mdc-typography mdcTypographySubtitle2>Title</mdc-typography>
      <mdc-typography mdcTypographyBody2>Subtitle</mdc-typography>
    </mdc-card-media-content> -->
  <!-- </mdc-card-primary-action> -->
  <!-- <mdc-card-actions>
    <mdc-card-action-button>Button 1</mdc-card-action-button>
    <mdc-card-action-button>Button 2</mdc-card-action-button>
  </mdc-card-actions> -->
<!-- </mdc-card> -->
