<div class="section">
    <div class="home-page">
        <div class="home-page-content">
            <h1 class="home-page-content-title">
                IT Consulting and Managed Services that take your business forward
            </h1>
            <p class="home-page-content-text">
                Forget stagnant landscapes, paint a digital masterpiece. Partner
                with our IT services and consulting solutions, brushstroke by
                brushstroke, to build an IT infrastructure that transforms your
                vision into reality.
            </p>
            <div class="home-page-content-button">
                <app-thebutton   [buttonText]="dynamicButtonText"></app-thebutton>
            </div>
        </div>
        <div class="home-page-image">
            <div class="home-page-image-border">
                <img src="assets/home/homeLight.webp" class="light-sec" loading="eager">
            </div>
        </div>
    </div>
</div>