


// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: palette($primary, $secondary, $surface);

/* autoprefixer grid: on */

// CSS Reset, comment out if not required or using a different module
@import 'minireset.css/minireset';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
  body {
    font-family: 'CustomFont', sans-serif;
  }
  a{
    text-decoration: none !important;
    color: black !important;
    cursor: pointer;
  }
  ul,li,p{
    margin: 0 !important;
    padding: 0 !important;
  }
