
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  body {
    font-family: 'CustomFont', sans-serif;
  }
  a{
    text-decoration: none !important;
    color: black !important;
    cursor: pointer;
  }
  ul,li,p{
    margin: 0 !important;
    padding: 0 !important;
  }